*{
    /* border: 1px solid; */
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
}
nav{
    font-family: 'Roboto', sans-serif;
    width: 80%;
    height: 50px;
    /* background-color: yellow; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.navbar-brand{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}
.items{
    /* background-color: yellow; */
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
li{
    font-size: 2px;
    font-weight: bolder;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items a{
    background-color: yellowgreen;
    height: 100%;
}
.nav-items{
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}
nav div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    color: #ffff;
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.container1 .first{
    /* background-color: rgb(36, 22, 231); */
    height: 100%;
    width: 50%;
    display: flex;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}
.info{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container1 .second{
    /* background-color: brown; */
    height: 100%;
    width: 50%;
}
.info h1{
    /* margin-top: 0; */
    /* padding-top: 40px; */
    width: 70%;
    font-size: 3rem;
    font-weight: bolder;
}
.river{
    width: 90%;
}
.egungun{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    width: 75%;
}
button{
    height: 60px;
    width: 220px;
    background-color: palevioletred;
    border-radius: 50px 50px 50px 0;
    color: white;
    font-size: larger;
    outline: none;
    border: none;
}
.btn{
    background-color: mediumblue;
}
.links{
    width: 80%;
    margin: auto;
    /* background-color: red; */
}
.links div{
    /* background-color: yellow; */
    width: 10%;
    display: flex;
    justify-content: space-between;
}
.links div a{
    color: white;
}
img{
    width: 90%;
    height: 100%; 
    /* position: absolute;
    left: 640px;
    top: 0px;  
    padding-right: 50px; */
}
.container2{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}
.container2 .services{
    padding-top: 50px;
    color: #1fb6fc;
    font-size: 12px;
}
.container2 h2{
    font-size: 40px;
    width: 70%;
    margin: 10px 0 20px 0;
}
.container2 .content{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.container2 .description{
    font-size: 16px;
    width: 90%;
    color: #88879e;
    line-height: 1.8;
}
.container2 .cards{
    width: 60%;
}
.container2 .first-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    height: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 1px 20px  rgba(128, 128, 128, 0.109);
    padding: 10px;
}
.card h3{
    margin-bottom: 10px;
}
.content button{
    height: 55px;
    width: 200px;
    margin-top: 10px;
}

/* .fab{
    position: relative;
    top: 20px;
    margin-bottom: 0px;
    padding: 0;
    /* left: -300px; */
    

/* body{
    background-color: #6b0cc5;
    margin: 0; 
    font-family: 'Roboto', sans-serif;
}
.container1{
    background-color: #6b0cc5;
    color: #ffff;
    padding-bottom: 60px;
    padding-left: 150px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
nav{
    
    padding: 20px;
    padding-left: 20px; 
    
}
.navbar-brand{
    text-decoration: none;
    margin-left: 30px;
    padding-left: 2px;
}

nav-items{
    padding: 10px;
    position: relative;
    left: 300px;
    text-decoration: none;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 5px;
}
h1{
    font-family: 'Roboto', sans-serif;
}
.river{
    width:50%
}
.fab{
    position: relative;
    left: -420px;
    top: 50px;
    margin: 0px;
    padding: 0px;
}
img{
    width: 50%;
    height: 150%;
    position: absolute;
    left: 640px;
    top: 40px;
    bottom: 0px;
} */